@import "~/src/scss/index.scss";

.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100vw;
  }
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  > a {
    > img {
      height: 80px;

      @media (max-width: 768px) {
        height: 100px;
      }
    }

    > i {
      font-size: 26px;
      color: $danger;
      margin: 0;
    }
  }
}

.blockLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    margin-top: 25vh;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.blockRight {
  background-image: url("/images/LogoAlqueria.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5vh;
  height: 100%;
  width: 50%;

  @media (max-width: 768px) {
    display: none;
  }
}
