.tabs {
  position: relative;
  margin-top: 50px;

  > div {
    display: flex;
    flex-wrap: nowrap;

    > a {
      &:last-of-type {
        position: absolute !important;
        right: 0;

        @media (max-width: 768px) {
          position: relative !important;
          right: auto;
          flex-basis: 100%;
          text-align: center;
          margin-bottom: 10px;
          gap: 0px;
        }
      }

      &:nth-last-of-type(1) {
        @media (max-width: 768px) {
          position: relative !important;
          right: 70px;
          flex-basis: 100%;
          text-align: center;
          margin-bottom: 10px;
        }
      }

      @media (max-width: 768px) {
        flex-basis: 100%;
        right: 8px;
        text-align: center;
        margin-bottom: 10px;
      }
      &:nth-last-of-type(2) {
        position: absolute !important;
        right: 46px;

        @media (max-width: 768px) {
          position: relative !important;
          right: 55px;
          flex-basis: 100%;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      &:nth-last-of-type(3) {
        @media (max-width: 768px) {
          position: relative !important;
          right: 42px;
          flex-basis: 100%;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      &:nth-last-of-type(4) {
        @media (max-width: 768px) {
          position: relative !important;
          right: 25px;
          flex-basis: 100%;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 20px;
    margin-left: -5vw;
  }
}

.containerForms {
  display: flex;
  margin: 0 -10px;
  margin-top: 50px;

  @media (max-width: 768px) {
    margin-left: -1vw;
  }
}
