@import "~/src/scss/index.scss";

.barTrust {
  width: 100%;
  background-color: $background-quaternary__blur;
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.content {
  display: flex !important;
  align-items: center;
  padding: 20px 0; /* Reduce el padding para dispositivos móviles */
  white-space: nowrap; /* Evita el salto de línea para que los elementos se desplacen en una línea continua */
}

.block {
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  border-right: 1px solid $border-primary;

  &:last-of-type {
    border: 0;
  }

  i {
    font-size: 35px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
  }

  h5 {
    font-size: 20px;
  }

  span {
    font-size: 13px;
    color: $text-primary;
  }
}

/* Media query para dispositivos móviles y tablets */
@media screen and (max-width: 1024px) {
  .content {
    animation: scroll-var 15s linear infinite; /* Animación con delay variable por defecto */
    animation-duration: 15s; /* Ajustar la duración de la animación en tablets */
  }

  /* Definir la animación con delay variable */
  @keyframes scroll-var {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-200% - 280px)
      ); /* Desplaza el contenido hacia la izquierda */
    }
  }
}

/* Media query específica para dispositivos móviles */
@media screen and (max-width: 767px) {
  .content {
    animation: scroll-var 15s linear infinite; /* Animación con delay variable por defecto */
    animation-duration: 10s; /* Ajustar la duración de la animación en tablets */
  }
  /* Definir la animación con delay variable */
  @keyframes scroll-var {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-200% - 280px)
      ); /* Desplaza el contenido hacia la izquierda */
    }
  }
}
