$primary: #ac8662;
$primary-hover: #f1cca8;

$text-primary: #000;
$text-secondary: #fff;
$text-tertiary: #909090;

$border-primary: #000;
$border-secondary: #474747;

$background-primary: #fff;
$background-secondary: #1d1d1d;
$background-tertiary: #101010;
$background-quaternary: #3d3d3d;
$background-quaternary__blur: #3d3d3d10;

$success: #69af00;
$danger: #ff0a4e;
